# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Output Files
outputs/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Configuration files not to be committed
config/config_gemini.ini